// app global css
.login-btn{
  width: 200px;
  &:hover {
    opacity : 0.8
  }
}
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap');
.sign-font {
  font-family: 'East Sea Dokdo', cursive;
}

